body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: black; 
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.5); 
    color: black;
    padding: 10px 0;
    text-align: center;
}

nav ul li {
    padding: 10px;
    background-color: rgba(221, 221, 221, 0.8); 
    margin-bottom: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

nav ul li a:hover {
    background-color: #f40000;
    color: black;
}