body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #ffffff;
}

header {
    background-color: #000000; 
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
    background-color: #ddd;
    margin-bottom: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

nav ul li a:hover {
    background-color: #f40000;
    color: white;
}
