body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white; 
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul li {
    padding: 10px;
    background-color: rgba(221, 221, 221, 0.8); 
    margin-bottom: 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

nav ul li a:hover {
    background-color: #f40000;
    color: white;
}

section {
    padding: 20px;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

table input[type="text"] {
    text-align: right;
    color: black;
}

input[type="number"]:focus {
    background-color: yellow;
}

a {
    color: red; 
}

a:hover {
    color: white;
    background-color: #f40000; 
}